page-home {
        /*ion-header::after {
          background: rgba(255,255,255,50);
          background-image: none !important;
        }
        .toolbar {
          .toolbar-background{
            background: rgba(255,255,255,50);
          }
        }*/
}
