page-servicios {
    .image-container{
        //min-height: 200px;

        background-size: cover;
   
        min-height: 75px;

       //width: 100%;
       //height: auto;
       // max-width: 100vw;
       // min-height: 13vh;
       // max-height: 75vh;
        //object-fit: cover;*/
    }

    .servicio{
        //background-color: rgba(89, 109, 91, 0);
        color: #3D3327;
        //font-weight: bold;
        font-style: italic;
        
    }
}
